/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.main_container {
  display: table;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}/*
.image_screw {
  height: 70px;
  width: 70px;
  display: inline-block;
  text-align: left;
  position: static;
}*/
.form-control2 {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 4;
  color: #464a4c;
  resize: none;
  background-color: #fff;
  word-wrap: normal;
  word-break: break-all;
  box-sizing: border-box;
  text-align: left;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  line-break: auto;
  text-align: start;
  }
  textarea {
    resize: none;
  }

.form-inline2{
    display: inline-block;
  -webkit-box-align: right;
  -webkit-align-items: right;
      -ms-flex-align: right;
          align-items: right;
}
.login_navigation {

display: inline-block;
text-align: right;
margin: auto;
}
.karusele {
  text-align: center;
  display: flex;
  margin: auto;
  z-index: ;
}
#myCarousel {
  z-index: -10;
} 
img.carousel-inner {
  position:absolute;
  outline-offset: 10px;
  width:100%; height: 100% !important;
  max-width: 200px; max-height: 400px !important;
}

.in_out_box {
  width: 80%;
  height: auto;
  border-color: black;
  border: solid;
}

#top {
  background-color: #d6d6c2;
  width:100% !important;
  text-align: center;
}

body {
  background-color: #ebebe0 !important;
}

.btn_register {
  margin-left: 10px;
}
.tekstas {
  position: absolute;
  text-align: center;
}