#main_container {
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-top: 100px !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.image_hag {
  height: 90px;
  width: 180px;
  display: inline-block;
  text-align: left;
  position: static;
}
.form-control2 {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 4;
  color: #464a4c;
  resize: none;
  background-color: #fff;
  word-wrap: normal;
  word-break: break-all;
  box-sizing: border-box;
  text-align: left;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  line-break: auto;
  text-align: start;
  }
  textarea {
    resize: none;
  }

.form-inline2{
    display: inline-block;
  -webkit-box-align: right;
  -webkit-align-items: right;
      -ms-flex-align: right;
  

          align-items: right;
}
.login_navigation {

display: inline-block;
text-align: right;
margin: auto;
}
.karusele {
  text-align: center;
  display: flex;
  margin: auto;
  z-index: ;
}
.
#myCarousel {
  z-index: -10;
 /* width: 100%;
  height: 60%;*/
  width: 100%;
  max-width: 1000px;
  max-height: 600px;
  text-align: center;


} 
.carousel-inner {

  max-width: 800px;
  max-height: 500px;
  height: 70%;
  text-align: center; 
  
}
.in_out_box {
  width: 80%;
  height: auto;
  border-color: black;
  border: solid;
}

#top {
  background-color: #d6d6c2;
  width:100% !important;
  text-align: center;
}

body {
  background-color: white !important;
  font-family: "Comic Sans MS", cursive, sans-serif!important;
}


.btn_register {
  margin-left: 10px;
}
.tekstas {
  position: absolute;
  text-align: center;
}

.welcome_text {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 12px black;

}
.for_all {
  height: 500px;
  position: static;
  }

.btn-primary {
  background-color: silver !important;
  color: black !important;
  border-color: silver  !important;
  box-shadow: 10px 5px 60px silver;
  z-index: 500 !important;
  margin-left: 10px;
  

}

.pav {
  max-height: 100% !important;
  max-width: 800px !important;
  z-index: -50;
  margin-left: 50px;
  margin-right: 50px;
}


#head input {
  background: url("/Assets/images/sel/b1.jpg") no-repeat scroll 0 0 transparent !important;
  color: #000000 !important;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 2px;
  width: 100%;
  position: center !important;
}

#hand input {
  background: url("/Assets/images/sel/b2.jpg") no-repeat scroll 0 0 transparent !important;
  color: #000000 !important;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}

#ear input {
  background: url("/Assets/images/sel/b3.jpg") no-repeat scroll 0 0 transparent !important;
  color: #000000 !important;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}

#eye input {
  background: url("/Assets/images/sel/b4.jpg") no-repeat scroll 0 0 transparent !important;
  color: #000000 !important;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}

#body input {
  background: url("/Assets/images/sel/b5.jpg") no-repeat scroll 0 0 transparent !important;
  color: #000000 !important;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}

#other input {
  background: url("/Assets/images/sel/b6.jpg") no-repeat scroll 0 0 transparent !important;
  color: #000000 !important;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 2px;
  width: 75px;
}